[submodule "deps/ImGui"]
    path = deps/ImGui
    url = https://github.com/Nemirtingas/ImGui.git
[submodule "deps/System"]
    path = deps/System
    url = https://github.com/Rustbeard86/System.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "tests/common/glfw"]
	path = tests/common/glfw
	url = https://github.com/glfw/glfw.git
